
<div class="container-fluid">

    <div class="page-header">
        <h1>機器人農場</h1>
    </div>

    <div class="input-group">
        <select class="form-control" id="sel_group" >
            <% @group_ids.each_with_index do |r,i| %>
                <option value="<%= r.group_id %>"><%= r.group_id %></option>
            <% end %>
        </select>
    </div>
                

    <div>
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>seq</th>
                    <th>濕度</th>
                    <th>溫度</th>
                    <th>照度</th>
                    <th>土壤缺水度</th>
                    <th>created date</th>
                </tr>
            </thead>

            <tbody>
                <% @rows.each do |row| %>
                    <tr>
                        <td>
                            <% pic_name = "#{row.group_id}_#{row.seq}.jpg" %>
                            <a class="fancybox fancypic" href="<%= full_url('/robotic_farm/'+pic_name) %>" >
                                <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
                            </a>
                        </td>
                        <td><%= row.seq %></td>
                        <td><%= row.air_hum %></td>
                        <td><%= row.air_tmp %></td>
                        <td><%= row.lux %></td>
                        <td><%= row.soil_hum %></td>
                        <td><%= row.created_at.localtime.strftime("%Y-%m-%d %H:%M:%S") %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>


</div>

<script language="javascript">


$(document).ready(ready);
function ready()
{
    
    initFancybox();

}


function initFancybox(){

    // commit this if wanna debug
    $(".fancypic").fancybox({
        parent      : 'body',
        maxWidth    : 800,
        maxHeight   : 600,
        fitToView   : false,
        width       : '70%',
        height      : '70%',
        autoSize    : false,
        closeClick  : false,
        openEffect  : 'none',
        closeEffect : 'none'
    });
}

</script>
