
<div class="container-fluid">

	<div class="page-header">
		<h1>書籤管理</h1>
	</div>

	<% unless notice.nil? %>
		<div class="alert alert-danger alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert">
				<span aria-hidden="true">&times;</span>
				<span class="sr-only">Close</span>
			</button>
	 		<strong><%= notice %></strong>
		</div>
	<% end %>

	<div>
		<table class="table table-hover table-striped">
		    <thead>
		    	<tr>
		    		<th>
		    			<a class="fancybox fancybox.ajax fancy_bookmark_form" href="<%= full_url '/bookmark/new' %>">
							<span class="glyphicon glyphicon-plus"></span>
						</a>
		    		</th>
		    		<th style="display:none">id</th>
		    		<th>enable</th>
					<th>name</th>
					<th>url</th>
					<th>created date</th>
					<th>updated date</th>
		      	</tr>
		    </thead>

		    <tbody>
		      	<% @bookmarks.each do |row| %>
		        	<tr>
		        		<td>
		        			<a class="fancybox fancybox.ajax fancy_bookmark_form" href="<%= full_url ('/bookmark/edit/') + row.id.to_s %>" >
		        				<span class="glyphicon glyphicon-file"></span>
		        			</a>
		        			<a href="<%= full_url('/bookmark/delete/') + row.id.to_s %>" data-confirm="確認刪除?" data-method="post" >
		        				<span class="glyphicon glyphicon-remove"></span>
		        			</a>
		        		</td>
		        		<td style="display:none"><%= row.id %></td>
		          		<td><%= row.enable==1 ? 'yes' : 'no' %></td>
						<td><%= row.bookmark_name %></td>
						<td><%= row.bookmark_url %></td>
						<td><%= row.created_at.localtime.strftime("%Y-%m-%d %H:%M:%S") %></td>
						<td><%= row.updated_at.localtime.strftime("%Y-%m-%d %H:%M:%S") %></td>
		        	</tr>
		      	<% end %>
		    </tbody>
		</table>
	</div>


</div>

<script language="javascript">


$(document).ready(ready);
function ready()
{
	// commit this if wanna debug
	$(".fancy_bookmark_form").fancybox({
		parent      : 'body',
  		maxWidth	: 800,
		maxHeight	: 600,
		fitToView	: false,
		width		: '70%',
		height		: '70%',
		autoSize	: false,
		closeClick	: false,
		openEffect	: 'none',
		closeEffect	: 'none'
	});
}

</script>
