
<div id="message">
</div>

<br>
<p>
    <select id="sel_year" class="year-month">
        <option value="2014" <%= "selected" if params[:year]=="2014" -%> >2014</option>
        <option value="2015" <%= "selected" if params[:year]=="2015" -%> >2015</option>
        <option value="2016" <%= "selected" if params[:year]=="2016" -%> >2016</option>
    </select>
    <strong>年</strong>
    <select id="sel_month" class="year-month">
    <% 1.upto(12) do |i| %>
        <option value="<%= i %>" <%= "selected" if params[:month].to_i==i.to_i %> ><%= i %></option>
    <% end %>
    </select>
    <strong>月消費紀錄</strong>
</p>

<br>

<%
    sum = 0.0
    day_sum = 0.0
    cls=['warning','']
    i = 0
    last_expended_at = ''
%>

<table class="table table-hover">
    <thead>
    	<tr class="info">
            <th></th>
        	<th><a style="color:#555555" href="#" class="sort" data-sort="row-category">分類</a></th>
			<th><a style="color:#555555" href="#" class="sort" data-sort="row-item">品項</a></th>
			<th><a style="color:#555555" href="#" class="sort" data-sort="row-commen">說明</a></th>
			<th><a style="color:#555555" href="#" class="sort" data-sort="row-price">價格</a></th>
            <th>當日總消費</th>
			<th><a style="color:#555555" href="#" class="sort" data-sort="row-expended_at">消費日期</a></th>
			<th><a style="color:#555555" href="#" class="sort" data-sort="row-updated_at">紀錄時間</a></th>
      	</tr>
    </thead>

    <tbody class="list">
      	<% @data.each do |row| %>
            <%
                if(last_expended_at != row.expended_at)
                    last_expended_at = row.expended_at
                    i+=1
                    day_sum = 0
                end
            %>

            <% if row.id == @id -%>
            <tr class="danger">
            <% else -%>
        	<tr class="<%= cls[i%2] -%>">
            <% end -%>
                <td >
                    <a class="fancy_form fancybox fancybox.ajax" href="<%= full_url '/money_note/edit/'+row.id.to_s %>">
                        <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                    </a>
                </td>
          		<td class="row-category"><%= row.category %></td>
				<td class="row-item"><%= row.item %></td>
				<td class="row-commen"><%= row.comment %></td>
				<td class="row-price"><%= row.price %></td>
                <% day_sum += row.price  %>
                <td class="row-day_sum"><%= day_sum %></td>
				<td class="row-expended_at"><%= row.expended_at %></td>
				<td class="row-updated_at"><%= row.updated_at.localtime.strftime("%Y-%m-%d %H:%M:%S") %></td>
                <% sum += row.price %>
        	</tr>

      	<% end %>
    </tbody>
</table>

<div class="alert alert-info" role="alert">總消費金額 <strong><%= sum %></strong> 元</div>

