
<div class="container-fluid">

	<div class="page-header">
		<h1>money note</h1>
	</div>

	<%= form_tag( {action: 'create'}, { id: 'record_form', remote: true }) do %>
	<div class="row">
		<div class="col-xs-2">
			<div class="input-group">
				<span class="input-group-addon">分類</span>
				<%= text_field_tag 'category', nil, class: "form-control" %>
				<div class="input-group-btn">
					<%= select_tag 'sel_category', nil, class: "form-control" %>
				</div>
			</div>
		</div>

		<div class="col-xs-2">
			<div class="input-group">
				<span class="input-group-addon">品項</span>
				<%= text_field_tag 'item', nil, class: "form-control" %>
				<div class="input-group-btn">
					<%= select_tag 'sel_item', nil, class: "form-control" %>
				</div>
			</div>
		</div>

		<div class="col-xs-2">
			<div class="input-group">
				<span class="input-group-addon">說明</span>
				<%= text_field_tag 'comment', nil, class: "form-control" %>
			</div>
		</div>

		<div class="col-xs-2">
			<div class="input-group">
				<span class="input-group-addon">價格</span>
				<%= number_field_tag 'price', nil, class: "form-control" %>
			</div>
		</div>

		<div class="col-xs-2">
			<div class="input-group">
				<span class="input-group-addon">日期</span>
				<%= date_field_tag('expended_at', DateTime.now.strftime("%Y-%m-%d"), class: "form-control" )%>
			</div>
		</div>
		
		<div class="col-xs-2">
			<%= submit_tag "紀錄", class: "btn btn-default" %>
		</div>
	</div>
	<% end %>
	
	<br>
	
	<div id="message">
	</div>

	<br>
	
	<div id="history">
	</div>

</div>

<script language="javascript">

var g_items = JSON.parse("<%= @items[:items] %>".replace(/&quot;/g,'"'));

$(document).ready(ready);
function ready()
{
	$(document).one( 'page:before-change', unload);
	$(document).on( 'change', '#sel_category',  onChangeCategory );
	$(document).on( 'change', '#sel_item',  onChangeItem );
	$("#record_form").on("ajax:success", onSubmitSuccess);
	$("#record_form").on("ajax:error", onSubmitError);
 	$("#record_form").on("ajax:before", onBeforeSubmit);
	
	refreshCategory();

	var d = new Date();
	$.get('/money_note/history/'+ d.getFullYear() + '/' + (d.getMonth()+1) , function(table){$('#history').html(table);}  )
}


function onBeforeSubmit()
{
	console.log("onBeforeSubmit");
	if( $('#category').val().trim()=="" )
	{
		$('#message').html( "category can't be empty" );
		return false;
	}
	
	if( $('#item').val().trim()=="" )
	{
		$('#message').html( "item can't be empty" );
		return false;
	}

	if( $('#price').val().trim()=="" )
	{
		$('#message').html( "price can't be empty" );
		return false;
	}

	return true;
}


function onSubmitSuccess(e, data, status, xhr)
{
	var category = $('#category').val(); 
	var item = $('#item').val();

	if(!( category in g_items ) )
		g_items[category] = new Object();

	g_items[category][item] = '';

	refreshCategory();

	var obj = JSON.parse( data );
	var url = '/money_note/history/' + obj['year'] + '/' + obj['month'];
	$.get(url, function(table){$('#history').html(table);}  )

	$.post(
		'/money_note/items',
	 	{ data: JSON.stringify( g_items )} ,
	 	function(msg){ console.log(msg); }  
	 );
}


function onSubmitError(e, xhr, status, error)
{
	console.log(error);
}


function unload()
{
	$(document).off( 'change', '#sel_category');
	$(document).off( 'change', '#sel_item');
}


function onChangeCategory()
{
	var category = $('#sel_category :selected').text();
	$('#category').val(category);
	$('#item').val('');
	refreshItem(category);
}


function onChangeItem()
{
	var item = $('#sel_item :selected').text();
	$('#item').val(item);
}


function refreshCategory()
{
	$('#sel_category').html('');
	for(var cotegory in g_items)
		$('#sel_category').append( '<option value="'+ cotegory + '">' + cotegory + '</option>' );
}


function refreshItem(category)
{
	$('#sel_item').html('');
	for(var item in g_items[category] )
		$('#sel_item').append( '<option value="'+ item + '">' + item + '</option>' );
}


</script>
