
<div class="container-fluid">

	<div class="page-header">
		<h1>money note</h1>
	</div>

	<%= form_tag( {action: 'create'}, { id: 'record_form', remote: true }) do %>
	<div class="row">
		<div class="col-xs-3">
			<div class="input-group">
				<span class="input-group-addon">分類</span>
				<%= text_field_tag 'category', nil, class: "form-control" %>
				<div class="input-group-btn">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
					<ul id="sel_category" class="dropdown-menu dropdown-menu-right" role="menu"></ul>
				</div>
			</div>
		</div>

		<div class="col-xs-3">
			<div class="input-group">
				<span class="input-group-addon">品項</span>
				<%= text_field_tag 'item', nil, class: "form-control" %>
				<div class="input-group-btn">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
					<ul id="sel_item" class="dropdown-menu dropdown-menu-right" role="menu"></ul>
				</div>
			</div>
		</div>
	
		<div class="col-xs-3">
			<div class="input-group">
				<span class="input-group-addon">價格</span>
				<%= number_field_tag 'price', nil, class: "form-control" %>
			</div>
		</div>

		<div class="col-xs-3">
			<%= submit_tag "紀錄", class: "btn btn-primary" %>
		</div>

	</div>
	<br>
	<div class="row">
		<div class="col-xs-3">
			<div class="input-group">
				<span class="input-group-addon">說明</span>
				<%= text_field_tag 'comment', nil, class: "form-control" %>
			</div>
		</div>

		

		<div class="col-xs-3">
			<div class="input-group">
				<span class="input-group-addon">日期</span>
				<%= date_field_tag('expended_at', DateTime.now.strftime("%Y-%m-%d"), class: "form-control" )%>
			</div>
		</div>
		
		
	</div>
	<% end %>
	
	<br>
	
	

	<div id="history">
	</div>

</div>

<script language="javascript">

var g_items = JSON.parse("<%= @items[:items] %>".replace(/&quot;/g,'"'));

$(document).ready(ready);
function ready()
{
	$(document).one( 'page:before-change', unload);
	$(document).on( 'click', '.a_category',  onChangeCategory );
	$(document).on( 'click', '.a_item',  onChangeItem );
	$(document).on( 'change', '.year-month',  onChangeYearMonth );
	$("#record_form").on("ajax:success", onSubmitSuccess);
	$("#record_form").on("ajax:error", onSubmitError);
 	$("#record_form").on("ajax:before", onBeforeSubmit);
	
	refreshCategory();

	var d = new Date();
	$.get('/money_note/history/'+ d.getFullYear() + '/' + (d.getMonth()+1) , function(table){$('#history').html(table);}  )
}


function onChangeYearMonth()
{
	var url = '/money_note/history/' + $('#sel_year option:selected').val() + '/' + $('#sel_month option:selected').val();
	console.log(url);
	$.get(url, function(table){$('#history').html(table);}  )

}


function generate_message(msg)
{
	return [
		'<div class="alert alert-danger alert-dismissible" role="alert">',
  		'<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>',
  		'<strong>',
  		msg,
  		'</strong>',
  		'</div>'
	].join('');
}

function onBeforeSubmit()
{
	console.log("onBeforeSubmit");
	if( $('#category').val().trim()=="" )
	{
		$('#message').html( generate_message("category can't be empty") );
		return false;
	}
	
	if( $('#item').val().trim()=="" )
	{
		$('#message').html( generate_message("item can't be empty") );
		return false;
	}

	if( $('#price').val().trim()=="" )
	{
		$('#message').html( generate_message("price can't be empty") );
		return false;
	}

	return true;
}


function onSubmitSuccess(e, data, status, xhr)
{
	var category = $('#category').val(); 
	var item = $('#item').val();

	if(!( category in g_items ) )
		g_items[category] = new Object();

	g_items[category][item] = '';

	refreshCategory();
	$('#item').val('');
	$('#price').val('');

	var obj = JSON.parse( data );

	var url = '/money_note/history/' + obj['year'] + '/' + obj['month'];
	$.get(url, function(table){$('#history').html(table);}  )

	$.post(
		'/money_note/items',
	 	{ data: JSON.stringify( g_items )} ,
	 	function(msg){ console.log(msg); }  
	 );
}


function onSubmitError(e, xhr, status, error)
{
	console.log(error);
}


function unload()
{
	$(document).off( 'click', '.a_category');
	$(document).off( 'click', '.a_item');
}


function onChangeCategory()
{
	var c = $(this).text();
	console.log( c );
	refreshItem(c);
	$('#category').val(c);
	$('#item').val('');
}


function onChangeItem()
{
	var item = $(this).text();
	$('#item').val(item);
}


function refreshCategory()
{
	$('#sel_category').html('');
	for(var category in g_items)
		$('#sel_category').append( '<li><a class="a_category" hrep="#">'+ category + '</a></li>' );
}


function refreshItem(category)
{
	console.log( category );
	$('#sel_item').html('');

	if(!(category in g_items))
		return;

	for(var item in g_items[category] )
		$('#sel_item').append( '<li><a class="a_item" hrep="#">'+ item + '</a></li>' );
}


</script>
