
<div class="container-fluid">
  <div class="page-header">
    <h1><%= params[:type]=='superlottos' ? '威力彩統計方法' : '大樂透統計方法' %></h1>
  </div>
  

  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th></th>
        <th colspan="6">一般號</th>
        <th>特別號</th>
        <th>更新日期</th>
      </tr>
    </thead>

    <tbody>
        <tr>
          <td>開獎號碼</td>
          <td><%= @high_ral['context']['normal']['numbers'][0] %></td>
          <td><%= @high_ral['context']['normal']['numbers'][1] %></td>
          <td><%= @high_ral['context']['normal']['numbers'][2] %></td>
          <td><%= @high_ral['context']['normal']['numbers'][3] %></td>
          <td><%= @high_ral['context']['normal']['numbers'][4] %></td>
          <td><%= @high_ral['context']['normal']['numbers'][5] %></td>
       	  <td><%= @high_ral['context']['special']['numbers'][0] %></td>
          <td><%= @high_ral['updated_at'] %></td>
        </tr>
        <tr>
          <td>次數統計</td>
          <td><%= @high_ral['context']['normal']['count'][0] %></td>
          <td><%= @high_ral['context']['normal']['count'][1] %></td>
          <td><%= @high_ral['context']['normal']['count'][2] %></td>
          <td><%= @high_ral['context']['normal']['count'][3] %></td>
          <td><%= @high_ral['context']['normal']['count'][4] %></td>
          <td><%= @high_ral['context']['normal']['count'][5] %></td>
          <td><%= @high_ral['context']['special']['count'][0] %></td>
          <td></td>
        </tr>
    </tbody>
  </table>

  <table class="table table-hover table-striped">
    <thead>
       <tr>
        <th></th>
        <th colspan="6">一般號</th>
        <th>特別號</th>
        <th>更新日期</th>
      </tr>
    </thead>

    <tbody>

        <tr>
          <td>開獎號碼</td>
          <td><%= @normal['context']['normal']['numbers'][0] %></td>
          <td><%= @normal['context']['normal']['numbers'][1] %></td>
          <td><%= @normal['context']['normal']['numbers'][2] %></td>
          <td><%= @normal['context']['normal']['numbers'][3] %></td>
          <td><%= @normal['context']['normal']['numbers'][4] %></td>
          <td><%= @normal['context']['normal']['numbers'][5] %></td>
          <td><%= @normal['context']['special']['numbers'][0] %></td>
          <td><%= @normal['updated_at'] %></td>
        </tr>
        <tr>
          <td>次數統計</td>
          <td><%= @normal['context']['normal']['count'][0] %></td>
          <td><%= @normal['context']['normal']['count'][1] %></td>
          <td><%= @normal['context']['normal']['count'][2] %></td>
          <td><%= @normal['context']['normal']['count'][3] %></td>
          <td><%= @normal['context']['normal']['count'][4] %></td>
          <td><%= @normal['context']['normal']['count'][5] %></td>
          <td><%= @normal['context']['special']['count'][0] %></td>
          <td></td>
        </tr>

   
    </tbody>
  </table>

</div>