
<div class="container-fluid">
    <div class="page-header">
        <h1>
            <%= params[:type]=='superlottos' ? '威力彩各期獎號' : '大樂透各期獎號' %>
            <small><%= params[:type]=='superlottos' ? '(每周一四開獎)' : '(每周二五開獎)' %></small>
        </h1>
    </div>
  

    
    <h3>數字關聯性</h3>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th></th>
                <th colspan="10">一般號 (前10碼)</th>
                <th colspan="3">特別號 (前3碼)</th>
                <th>最後更新時間</th>
            </tr>
        </thead>

        <tbody>
            <% @rank.each do |row| %>
                  <%= render partial: "rank", locals: {row: row} %>
            <% end %>
        </tbody>
    </table>

    <br><br>

    <h3>獎號根據月份分佈</h3>
    <div id="chartdiv" style="width: 100%; height: 600px;"></div>


</div>


<script language="javascript">

$(document).ready(ready);
function ready()
{
  console.log('ready');
 
  var url = "<%= full_url('/lottery/bubblechart/'+params[:type]+'.json') %>";
  console.log(url);
  $.get(url, function(data){
    var g_bubblechart = AmCharts.makeChart("chartdiv", 
    {
      "type": "xy",
      "pathToImages": "<%=full_url('/amcharts/images/')%>",
      "theme": "light",
      "dataProvider" : data,
      "valueAxes": 
      [
        {
          "title": "獎號",
          "position":"bottom",
          "axisAlpha": 0
        },
        {
          "title": "月份",
          "minMaxMultiplier": 1,
          "axisAlpha": 0,
          "position": "left"
        }
      ],
      "startDuration": 1.5,
      "graphs": 
      [
        {
          "balloonText": "<b>[[y]]</b>月份  獎號:<b>[[x]]</b> <br>出現<b>[[value]]</b>次",
          "bullet": "circle",
          "bulletBorderAlpha": 0.2,
          "bulletAlpha": 0.8,
          "lineAlpha": 0,
          "fillAlphas": 0,
          "valueField": "count",
          "xField": "number",
          "yField": "month",
          //"maxBulletSize": 70
        }
      ],
      "marginLeft": 46,
      "marginBottom": 35,
      "chartScrollbar": {},
      "chartCursor": {} 
    });
  });

}
</script>
